name: DVWA-DevSecOps-Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  sonarcloud:
    name: SAST Scan (SonarCloud)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  dast_scan:
    permissions:
      contents: read    # Allows the action to see your code
      issues: write
    name: DAST Scan (OWASP ZAP)
    runs-on: ubuntu-latest
    needs: sonarcloud
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.7.0
        with:
          target: 'http://testphp.vulnweb.com/'
